spring:
  application:
    name: pharmacy
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
logging:
  config: classpath:logback-spring.xml
  level:
    root: INFO
    com.example.pharmacy: DEBUG
app:
  security:
    api-key-name: ${api-key-name}
    api-key-value: ${api-key-value}

server:
  port: 8080

